#!/bin/sh
# Disable the automatic menu displaying on every environment reload.
export DEVSHELL_NO_MOTD=1

# shellcheck disable=SC1091
. .//cells/lib/bash/direnv

use envreload //_repository/devshells/default //_repository/config
